* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #4e5d6c;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #1b3146;
}

.navbar {
  padding: 15px;
  margin: 0;
}

.navbar-nav {
  font-size: 20px;
  list-style: none;
  margin-right: 10px;
  margin-top: 10px;
}

.nav-item {
  margin-right: 20px;
}

.navbar-brand {
  font-size: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.landing-headers {
  color: #f0da00; 
}