* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  background-color: white;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: relative;
  background: #ffffff;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
}

.navbar {
  padding: 15px;
  margin: 0;
}

.navbar-nav {
  font-size: 20px;
  list-style: none;
  margin-right: 10px;
  margin-top: 10px;
}

.nav-item {
  margin-right: 20px;
}

.navbar-brand {
  font-size: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.landing-headers {
  color: #fff280;
}

.text {
  color: black
}
.dropbtn {
  background-color: rgb(110, 113, 114);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#bee {
  pointer-events: none;
  position: absolute;
  transition: .3s;
}

.bee-head {
  z-index: 10;
  height: 15px;
  width: 15px;
  right: -5px;
  top: -5px;
  position: absolute;
  background: black;
}

.bee-tentacle {
  height: 10px;
  width: 2px;
  background: black;
  position: absolute;
}

.bee-tentacle.one {
  top: -10px;
  left: 0;
}

.bee-tentacle.two {
  top: -15px;
  left: 7px;
  height: 15px;
}

.bee-eye {
  height: 2px;
  width: 2px;
  background: white;
  display: inline-block;
  vertical-align: top;
  position: absolute;
}

.bee-eye.one {
  top: 5px;
  left: 3px;
}

.bee-eye.two {
  height: 4px;
  width: 4px;
  top: 5px;
  left: 8px;
}

.bee-body {
  width: 50px;
  height: 10px;
  background: linear-gradient(90deg, yellow 50%, black 50%);
  background-size: 25%;
}

.bee-wing {
  margin-left: 5px;
  height: 5px;
  width: 25px;
  background: #A9A9FF;
  animation: .1s flap-wings infinite;
}

.bee-stinger {
  margin-left: -10px;
  height: 2px;
  width: 10px;
  background: #757575;
}

.idle-body {
  animation: 1s idle-body infinite;
}

@keyframes idle-body {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 2px);
  }
  20% {
    transform: translate(0, 4px);
  }
  25% {
    transform: translate(0, 6px);
  }
  30% {
    transform: translate(0, 9px);
  }
  50% {
    transform: translate(0, 10px);
  }
  60% {
    transform: translate(0, 9px);
  }
  70% {
    transform: translate(0, 6px);
  }
  75% {
    transform: translate(0, 4px);
  }
  80% {
    transform: translate(0, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.idle-head {
  animation: 1s idle-head infinite;
}

@keyframes idle-head {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 1px);
  }
  20% {
    transform: translate(0, 2.5px);
  }
  25% {
    transform: translate(0, 4px);
  }
  30% {
    transform: translate(0, 5.5px);
  }
  50% {
    transform: translate(0, 7px);
  }
  60% {
    transform: translate(0, 5.5px);
  }
  70% {
    transform: translate(0, 4px);
  }
  75% {
    transform: translate(0, 2.5px);
  }
  80% {
    transform: translate(0, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}


@keyframes flap-wings {
  0% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(2.5);
  }
  100% {
    transform: scaleY(0);
  }
}