<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Life Story of a Bee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/jordy_style.css">
</head>

<body>
  <!--navbar-->
  <div class="wrapper">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="index.html">
        The Cause of Bee Colony Reduction
      </a>
      <div id = "menu" class="">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="/cause">Cause</a>
              <a href="/ccd">CCD</a>
              <a href="/economic">Economic</a>
              <a href="/social">Social Presence</a>
            </div>
          </div>
      </div>
    </nav>
  </div>
  <!--navbar end-->
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-8">

            <h4 class="landing-headers">The Role Of Honeybees</h4>
            The role honeybees play in our diet goes beyond honey production. These seemingly tireless creatures pollinate about one-third of crop species in the U.S. <sup>[1]</sup>
            <br />
            <h4 class="landing-headers">What is CCD?</h4>
            Colony Collapse Disorder (CCD) is the phenomenon that occurs when the majority of worker bees in a colony disappear and leave behind a queen, plenty of food and a few nurse bees to care for the remaining immature bees and the queen. reported cases of CCD have declined substantially over the last five years. While winter losses remain somewhat high, the number of those losses attributed to CCD has dropped from roughly 60 percent of total hives lost in 2008 to 31.1 percent in 2013. <sup>[2]</sup>
            <br />
            <h4 class="landing-headers">Causes of CCD</h4>
            There have been many theories about the cause of CCD, but the researchers who are leading the effort to find out why are now focused on these factors<sup>[2]</sup>:
            <br />
            <ol>
              <li>
                Increased losses due to an invasive pest of honey bees called varroa mite.
              </li>
              <li>
                Emerging diseases such as Israeli Acute Paralysis virus and the gut parasite Nosema.
              </li>
              <li>
                Pesticide poisoning through exposure to pesticides applied to crops or for in-hive insect or mite control.
              </li>
              <li>
                Stress that bees experience due to management practices such as transportation to multiple locations across the country for providing pollination services.
              </li>
              <li>
                Changes to the habitat where bees forage.
              </li>
              <li>
                Inadequate forage/poor nutrition.
              </li>
              <li>
                Potential immune-suppressing stress on bees caused by one or a combination of factors identified above.
              </li>
            </ol>
            <br />
            The USDA is leading the federal government response to CCD. In 2007, USDA established a CCD Steering Committee and have developed an action plan. <sup>[2]</sup>
            <br />
            “One measure beekeepers have been taking is to keep bees as healthy as possible — improve nutrition and reduce stress,” says Jeff Pettis of the USDA. <sup>[1]</sup>
            <h4 class="landing-headers">References</h4>
            <ol>
              <li>
                “Impact of CCD on US Agriculture.” PBS, 20 July 2009, www.pbs.org/wnet/nature/silence-of-the-bees-impact-of-ccd-on-us-agriculture/37/.
              </li>
              <li>
                “Colony Collapse Disorder.” United States Environment Protection Agency, www.epa.gov/pollinator-protection/colony-collapse-disorder.
              </li>
            </ol>
        </div>
        <div class="col-md-4">
          <aside class="filters">
            <img src="../static/img/bee_on_flower.jpg" width="300" height="400">
          </aside>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="bottom">Project by Abla Elsergany, Jordy Salguero, Alex Snyder, Viral Vakani</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>
