<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Honey-Production Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/jordy_style.css>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- bubble graph  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <!-- External styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bubble.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/colony_style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/jordy_style.css" />
  </head>

  <body>
    <!--navbar-->
    <div class="wrapper">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="index.html">
          The Cause of Bee Colony Reduction
        </a>
        <div id = "menu" class="">
          <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">Menu</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="#">Cause</a>
                <a href="#">CCD</a>
                <a href="#">Economic</a>
                <a href="#">Social Presence</a>
              </div>
            </div>
        </div>
      </nav>
    </div>
    <!--navbar end-->

    <div>


      <div class="container">
        <div class="row">
            <div><h3>Honey Production Prices by Years</h3>
              <p><a href="/economic"> Click Viral's Page</a><br><br>
                <a href="/cause"> Click Jordy's Page</a><br><br>
                <a href="/ccd"> Click Abla's Page</a>
              </p>




  </body>

</html>