<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible">
    <title>Honey-Production Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/jordy_style.css" />


    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/jordy_style.css" />
    <script src="../static/js/jordy_js.js"></script>
  </head>

  <body id = "bug">
    <!--navbar-->
    <div class="wrapper">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">
        </a>
        <div id = "menu" class="">
          <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">Menu</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="/cause">Cause</a>
                <a href="/ccd">CCD</a>
                <a href="/economic">Economic</a>
                <a href="/social">Social</a>
                <a href="/map">Temperature</a>
              </div>
            </div>
        </div>
      </nav>
    </div>
    <!--navbar end-->
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">The Life of a Bee</h1>
          <p class="lead">Let's dive into the life of a bee, and learn about an impactful phenomena</p>
        </div>
      </div>
  </div>
<!--End of Jumbotron-->
  <div class = "container-fluid">
    <img src="../static/img/beecycle.jpg" class = "center">
      <div row>
        <p>
        <h2 class="landing-headers">Hive Roles</h2>
        <h4>
          <ol>
            <li>
                Cleaning & Maintenance — Removing dead bees from the hive on cleansing flights. Bees are very clean. 
            </li>
            <li>
                Feeding — Drone bees are being selected to be an attendant for the Queen Bee.
            </li>  
            <li>
                Honey Production — Jobs in this area will consist with honey sealing, and pollen packing.
            </li>
            <li>
              Foraging Bees — The last job that a worker will have, and that they will do until the end of their life, is to forage. 
              They will spend their days looking for nectar, and pollen working themselves to death.<sup>[1]</sup>
            </li>
          </ol>
        </h4>
        </p>
        <br>
        <p>
          <h2 class="landing-headers">Drone Bees</h2> 
            <h4>The drone bee is the only male in the hive, their only role is to procreate with the queen,  
              <img src="../static/img/flowerfield.jpg" class="wrap">
              and once they have mated with the queen they will die.<sup>[1]</sup></h4>
        </p>
        <p>
        <br>
            <h2 class="landing-headers">Queen Bee</h2>
              <h4>Their can only be one queen in the hive, and if there are more queens present,
                the queens will fight it out until the death — leaving only one survivor. Their sole purpose is to reproduce more worker bees (female)
                to maintain, organize, and collect food for the hive.<sup>[1]</sup></h4>
        </p>
        <br>
        <br>   
        <br>
        <br>
        <div class = "container-fluid">
          <br>
          
          <img src = "../static/img/savebees.png" class = "centersmall"> <h2 class="landing-headers">Purpose of the Bee</h2><h4>Many domestic and imported fruits and vegetables require pollination.
            <p class = "p1">Examples include avocados, soybeans, asparagus, broccoli, celery, squash, and sunflowers for oil, cucumbers, citrus fruit, peaches, kiwis, cherries, cranberries and melons.</p>
            <p class = "p1">For crops such as blueberries and almonds, the honey bee plays an essential role in pollination of commercial crops,  with around 80% of the US crop said to be dependent on honey bees. 
            Honey bees can also pollinate clover and alfalfa, which are fed to cattle, so there are implications for the meat and dairy industry too.</p>
            And that is not to mention the huge range of manufactured food products made from all these ingredients.<sup>[2]</sup></h4>
        </div>
        <br>
        <br>
        <p><h6 class="landing-headers">References</h6>
          <ol>
            <li>
             <h6> “A Day in the life of a Honey Bees”, Tractor Supply Co, https://www.tractorsupply.com/know-how_pets-livestock_bees_a-day-in-the-life-of-honey-bees</h6>
            </li>
            <li>
              <h6>"Why Bees are Important", Susatin, https://www.sustainweb.org/foodfacts/bees_are_important/</h6>
            </li>
          </ol>
        </p>
        <br>
        <br> 
      </div>
  <!-- Ending of container fluid tag -->

  </div>

  <!-- Bee Code -->
  <div id="bee" style="transform: rotateY(0deg); top: 465px; left: 456px;">
    <div class="bee-head idle-head">
    <div class="bee-tentacle one"></div>
    <div class="bee-tentacle two"></div>
    <div class="bee-eye one"></div>
    <div class="bee-eye two"></div>
    </div>
    <div class="bee-body idle-body">
    <div class="bee-wing"></div>
    <div class="bee-stinger"></div>
    </div>
  </div>
<!-- End of Bee Code -->

</body>
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://static.codepen.io/assets/editor/live/css_reload-5619dc0905a68b2e6298901de54f73cefe4e079f65a75406858d92924b4938bf.js"></script>
<script type = "text/javascript" src = "../static/js/jordy_js.js"></script>
</html>