<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Life Story of a Bee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/jordy_style.css">
  <script src="../static/js/jordy_js.js"></script>
</head>

<body id = "bug">

<!-- Start of Navbar-->
  <div class="wrapper">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/index">
        The Cause of Bee Colony Reduction
      </a>
      <div id = "menu">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="/cause">Cause</a>
              <a href="/ccd">CCD</a>
              <a href="/economic">Economic</a>
              <a href="/social">Social Presence</a>
            </div>
        </div>
      </div>
    </nav>
  </div>
<!-- End of Navbar-->

<!-- Start of What are Pesticides-->
  <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-8">
            <div class="container">

            <p><h4 class="landing-headers">What are pesticides?</h4>
                Pesticides are substances used for eliminating pests, in other words
                unwanted insects. Amongst those insects include bees. There are several
                ways that bees are harmed with the use or pesticides including direct contact
                which can causes immediate death, or direct contact and the bees return
                to their hives, causing a larger impact.<sup>[2]</sup>
                <br>
                <img alt="Pesticides" src="../static/img/word_bee.png" style="width: 500px; height: 300px; margin: 5px; float: auto;">
            </p>

            <br>

            <div id="bee" style="transform: rotateY(0deg); top: 465px; left: 456px;">
                <div class="bee-head idle-head">
                <div class="bee-tentacle one"></div>
                <div class="bee-tentacle two"></div>
                <div class="bee-eye one"></div>
                <div class="bee-eye two"></div>
                </div>
                <div class="bee-body idle-body">
                <div class="bee-wing"></div>
                <div class="bee-stinger"></div>
                </div>
            </div>

            <table class="table table-bordered table-hover table-condensed">
              <thead><tr><th title="Field #1">Tweet Content</th>
              <th title="Field #2">Tweet Source</th>
              <th title="Field #3">Tweet Time</th>
              </tr></thead>
              <tbody><tr>
              <td>The Urban Apiary on @Gov_Island is really coming along! THANK YOU to all of our volunteers for making it all happen yesterday! A special thanks to @earthmatterny who came through with the best black gold on the… https://www.instagram.com/p/Byf-jyTHzsI/?igshid=1oomhi672jtmg …</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-06-09 18:49:12</td>
              </tr>
              <tr>
              <td>Our #BeeAmbassadors at @wspconservancy help inspire the next generation of sustainablity-minded citizens <br/>#THBC #savethebees #nyc #kidseducation @ Washington Square Park https://www.instagram.com/p/ByfJQRxHxAi/?igshid=1juuwwu6iv8a8 …</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-06-09 11:03:23</td>
              </tr>
              <tr>
              <td>Did you know? About 1,000 hole-nesting bee species are native to North America! That’s pretty Buzz-arre<br/>#SAVETHEBEES #FUNFACTS #HONEYBEE #HONEY #BEE #POLLINATORS</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-06-05 16:31:01</td>
              </tr>
              <tr>
              <td>It&#39;s #WorldEnvironmentDay Check out the new bee cam! #FITSustainabilityhttps://livestream.com/fit/beecam </td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-06-05 16:02:26</td>
              </tr>
              <tr>
              <td>#DidYouKnow the average worker #bee makes 1/12 tsp (0.4 ml) of #honey in its lifetime?#Savethebeespic.twitter.com/LofHLnTPYb</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-06-03 16:03:14</td>
              </tr>
              <tr>
              <td>The student-built housing at Asheville-Buncombe Technical Community College is looking great  #sponsorahivepic.twitter.com/hg6rQHogy1</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-31 16:30:47</td>
              </tr>
              <tr>
              <td>Bees pollinate #almond #strawberry and #coffee flowers. All almonds would disappear without bee #pollination.pic.twitter.com/I4RqyqCEwZ</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-30 16:30:46</td>
              </tr>
              <tr>
              <td>Did you know? About 1,000 hole-nesting bee species are native to North America. #savethebees https://thehoneybeeconservancy.org/?p=10909  via @honeybeetweets</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-25 16:05:57</td>
              </tr>
              <tr>
              <td>We were really excited to see so many bees in the garden this week. It triggered so much descriptive language and interesting thoughts as to why they had come to visit? @BelleValeSchool @BBCSpringwatch @friends_earth @honeybeetweetspic.twitter.com/Py2gjpIFxE</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-27 11:19:12</td>
              </tr>
              <tr>
              <td>Happy Memorial Day  everyone! We spent today sprucing up our urban apiary @Gov_Island with the talented artist team of theatreuntitled, new bee friends and the lady beekeepers of @ISLANDBEENYC. It’s a work in… https://www.instagram.com/p/Bx-udkRHjJX/?igshid=1bgqtp7v8g6ex …</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-27 20:53:37</td>
              </tr>
              <tr>
              <td>#Didyouknow one tireless worker bee will make about 1/12 a teaspoon of honey in her lifetime #honeybee #honey #fridayfact</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-24 16:30:56</td>
              </tr>
              <tr>
              <td>BUZZ BUZZ! Did you hear? Although there are already 21,000 different species of bees, more are being discovered every year!<br/>#SAVETHEBEES #FUNFACTS #HONEYBEE #HONEY #BEE #POLLINATORS</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-22 16:30:53</td>
              </tr>
              <tr>
              <td>We  solitary bees! Mason and leafcutter #bees are amazing #pollinators. Learn more about them: http://thehoneybeeconservancy.org/why-bees/mason-bees/ …pic.twitter.com/olOp9ZD96Z</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-21 16:30:51</td>
              </tr>
              <tr>
              <td>#Didyouknow bees can carry 30% of their body weight in pollen? #fridayfact pic.twitter.com/87AwattmE2</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-17 16:30:54</td>
              </tr>
              <tr>
              <td>Yellow and black is always in style.  Thank you @GaroSparo for your support of #THBC on last night&#39;s episode of @ProjectRunway! #savethebees #wearbeespic.twitter.com/ET9QjEWmK0</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-17 14:42:23</td>
              </tr>
              <tr>
              <td>One of the largest threats to #bees is the lack of habitat due to #urban sprawl. Learn more on how to #protect bee habitats. <br/><br/>Learn more: https://thehoneybeeconservancy.org/?p=2440 <br/>#savethebees #beethechange #THBCpic.twitter.com/jrPZ3A7nsv</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-17 00:59:02</td>
              </tr>
              <tr>
              <td>Feeling sick, dry skin, trying to save the world? #Raw #honey can help! #health #honeybee http://thehoneybeeconservancy.org/2015/05/18/raw-honey-benefits/ …pic.twitter.com/TiZfm3tSkP</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-15 16:30:46</td>
              </tr>
              <tr>
              <td>#Didyouknow a huge number of plants require #bees, #birds, and other species in order to fertilize and reproduce.<br/>Here’s why:https://thehoneybeeconservancy.org/pollinators/ </td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-13 16:58:39</td>
              </tr>
              <tr>
              <td>Happy #MomsDay to actress Scarlett Johansson, who took up #beekeeping after fellow actor Samuel L. Jackson gave her a beehive full of bees as a wedding present! Amazing! #savethebees</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-12 17:30:28</td>
              </tr>
              <tr>
              <td>Happy #MothersDay to all the Queen Bees out there! <br/>#savethebees #queenbee #momspic.twitter.com/4iDWpAKELB</td>
              <td>The Honeybee Conservancy (@honeybeetweets) | Twitter</td>
              <td>2019-05-12 16:30:33</td>
              </tr>
              <tr>
              <td>ABJ Extra-June 10, 2019 - 2019 Canada PAm-Costco Scholar Fellowship Awards for Honey Bee Health -https://mailchi.mp/dadant.com/abj-extra-june-10-2019-2019-canada-pam-costco-scholar-fellowship-awards-for-honey-bee-health …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-06-10 13:24:29</td>
              </tr>
              <tr>
              <td>ABJ Extra-May 30, 2019 - USDA Predicts Record Almond Crop for 2019 -https://mailchi.mp/dadant.com/abj-extra-may-30-2019-usda-predicts-record-almond-crop-for-2019 …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-05-30 16:33:31</td>
              </tr>
              <tr>
              <td>ABJ Extra-May 23, 2019 - EPA Blocks a Dozen Products Containing Pesticides Thought Harmful to Bees -https://mailchi.mp/dadant.com/abj-extra-may-23-2019-epa-blocks-a-dozen-products-containing-pesticides-thought-harmful-to-bees …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-05-23 16:20:15</td>
              </tr>
              <tr>
              <td>ABJ Extra-May 15, 2019 - Washington State Beekeepers Now Protected from Civil Liability -https://mailchi.mp/dadant.com/abj-extra-may-15-2019-washington-state-beekeepers-now-protected-from-civil-liability …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-05-15 18:43:56</td>
              </tr>
              <tr>
              <td>ABJ Extra-May 13, 2019 - Bee Health Guru Smartphone App promotes Kickstarter Fundraising Campaign -https://mailchi.mp/dadant.com/abj-extra-may-13-2019-bee-health-guru-smartphone-app-promotes-kickstarter-fundraising-campaign …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-05-13 16:42:47</td>
              </tr>
              <tr>
              <td>ABJ Extra-May 10, 2019 - EPA Holds Public Meeting on Revisions to Draft Framework on Endangered Species Act Process for Pesticides -https://mailchi.mp/dadant.com/abj-extra-may-10-2019-epa-holds-public-meeting-on-revisions-to-draft-framework-on-endangered-species-act-process-for-pesticides …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-05-10 20:57:06</td>
              </tr>
              <tr>
              <td>Dadant Mother&#39;s Day Sale - Online Orders Only Get 10% Off May 10th - 12th -https://mailchi.mp/dadant.com/dadant-mothers-day-sale-online-orders-only-get-10-off-may-10th-12th …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-05-10 05:59:46</td>
              </tr>
              <tr>
              <td>ABJ Extra-May 5, 2019 - EPA Takes Next Step in Review Process for Herbicide Glyphosate, Reaffirms No Risk to Public Health -https://mailchi.mp/dadant.com/abj-extra-may-2-2019-epa-takes-next-step-in-review-process-for-herbicide-glyphosate-reaffirms-no-risk-to-public-health …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-05-02 19:35:58</td>
              </tr>
              <tr>
              <td>ABJ Extra-April 29, 2019 - 2019 USA PAm-Costco Scholar Fellowship Awards for Honey Bee Health -https://mailchi.mp/dadant.com/abj-extra-april-29-2019-2019-usa-pam-costco-scholar-fellowship-awards-for-honey-bee-health …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-04-29 13:04:53</td>
              </tr>
              <tr>
              <td>ABJ Extra-April 25, 2019 - Premium New Zealand Honey Producer Admits Adding Chemicals: Media -https://mailchi.mp/dadant.com/abj-extra-april-25-2019-premium-new-zealand-honey-producer-admits-adding-chemicals-media …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-04-25 13:04:36</td>
              </tr>
              <tr>
              <td>ABJ Extra-April 23, 2019 - Growers Reminded of Best-Management Practices When Planting Treated Seed -https://mailchi.mp/dadant.com/abj-extra-april-23-2019-growers-reminded-of-best-management-practices-when-planting-treated-seed …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-04-23 15:05:22</td>
              </tr>
              <tr>
              <td>ABJ Extra-April 18, 2019 - Weak Honey Bee Colonies May Fail From Cold Exposure During Shipping -https://mailchi.mp/dadant.com/april-18-2019-weak-honey-bee-colonies-may-fail-from-cold-exposure-during-shipping …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-04-18 16:18:54</td>
              </tr>
              <tr>
              <td>ABJ Extra-April 5, 2019 - PAm-Costco Scholar Fellowship Award Announcement -https://mailchi.mp/dadant.com/april-5-2019-pam-costco-scholar-fellowship-award-announcement …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-04-05 19:24:15</td>
              </tr>
              <tr>
              <td>ABJ Extra-April 3, 2019 - Online Tool Identifies Best and Safest Places to Keep Bees -https://mailchi.mp/dadant.com/april-3-2019-online-tool-identifies-best-and-safest-places-to-keep-bees …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-04-03 13:03:04</td>
              </tr>
              <tr>
              <td>ABJ Extra-April 1, 2019 - NOW LIVE! The 2018-2019 Colony Loss and Management Survey! -https://mailchi.mp/dadant.com/april-1-2019-now-live-the-2018-2019-colony-loss-and-management-survey …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-04-01 18:04:40</td>
              </tr>
              <tr>
              <td>ABJ Extra-March 20, 2019 - Honey Integrity Task Force Finds No Adulteration in US Retail Test -https://mailchi.mp/dadant.com/march-20-2019-honey-integrity-task-force-finds-no-adulteration-in-us-retail-test …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-03-27 18:05:08</td>
              </tr>
              <tr>
              <td>ABJ Extra-March 22, 2019 - New RT25 Data Will Help Beekeepers and Farmers Protect Pollinators -https://mailchi.mp/dadant.com/march-22-2019-new-rt25-data-will-help-beekeepers-and-farmers-protect-pollinators …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-03-22 18:41:30</td>
              </tr>
              <tr>
              <td>ABJ Extra-March 14, 2019 - Bayer’s Feed a Bee Program Reaches 50-State Milestone -https://mailchi.mp/dadant.com/march-14-2019-bayers-feed-a-bee-program-reaches-50-state-milestone …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-03-14 20:45:50</td>
              </tr>
              <tr>
              <td>ABJ Extra-March 12, 2019 - Honey Bee Health Coalition Members Release Corn, Canola Guides for Bee Protection -https://mailchi.mp/dadant.com/march-12-2019-honey-bee-health-coalition-members-release-corn-canola-guides-for-bee-protection …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-03-12 15:45:52</td>
              </tr>
              <tr>
              <td>ABJ Extra-March 8, 2019 - APHIS to Host Listening Session on Farm Bill Animal Health Provisions-March 21st -https://mailchi.mp/dadant.com/march-8-2019-aphis-to-host-listening-session-on-farm-bill-animal-health-provisions-march-21st …</td>
              <td>American Bee Journal (@beejournal) | Twitter</td>
              <td>2019-03-08 17:12:48</td>
              </tr>
              <tr>
              <td>#TuesdayTip: When baking with honey reduce your oven temperature by 25 degrees to prevent over-browning. Get more tips for cooking and baking with honey here: https://buff.ly/2H3bcFz pic.twitter.com/OZhe86HFHq</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-11 20:36:02</td>
              </tr>
              <tr>
              <td>With only three ingredients, our Honey Raspberry Sweet Tea is the perfect mix of sweet and refreshing and is sure to be the drink you&#39;ll be enjoying all summer long! https://buff.ly/2HouSnJ pic.twitter.com/AH7GnzIqUw</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-10 18:08:01</td>
              </tr>
              <tr>
              <td>Summertime is the right time for frozen desserts, and we’ve compiled a shopping list of our favorite ice creams and gelatos, all made with honey! Bee sure to check  your local grocer for these tasty made-with-honey products and enjoy them all summer long! https://buff.ly/31dG9C9 pic.twitter.com/Zk7AETCXCI</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-08 18:20:01</td>
              </tr>
              <tr>
              <td>Learn more honey varietal #funfacts here: https://buff.ly/2RG8eNj pic.twitter.com/f0LLDgiVN6</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-07 20:38:01</td>
              </tr>
              <tr>
              <td>#FunFactFriday: The below statement is actually false. <br/>Varietal honeys may be best compared to wine in terms of climatic changes. Even the same flower blooming in the same location may produce slightly different nectar from year to year, depending on temperature and rainfall. https://twitter.com/NationalHoney/status/1136738570662580225 …</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-07 20:36:00</td>
              </tr>
              <tr>
              <td>#ThursdayTrivia: True of false - honey collected from the same flower with always taste exactly the same. </td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-06 20:56:09</td>
              </tr>
              <tr>
              <td>Where can a varietal take you? That’s a wrap on another successful #HoneyBakingSummit.<br/>Thank you to all of the wonderful bakers who spent the past two days learning about honey, bees and hitting the bench to bake… https://www.instagram.com/p/ByVszSOnKfv/?igshid=4g3b5yqpsdqu …</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-05 19:01:34</td>
              </tr>
              <tr>
              <td>#WednesdayWisdom: “One can no more approach people without love than one can approach bees without care. Such is the quality of bees...” ― Leo Tolstoypic.twitter.com/x7lLSLzTwK</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-05 15:35:05</td>
              </tr>
              <tr>
              <td>#TuesdayTip: Summer is a great time to explore new and delicious honey varietals and pairing them with cheese turns a mundane appetizer into something special! Check out these tips on creating the perfect honey &amp; cheese board. https://buff.ly/2QsiGLM  #NationalCheeseDaypic.twitter.com/gs7FaJuE4j</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-04 18:08:01</td>
              </tr>
              <tr>
              <td>#FunFact: there are more than 300 varietals of #honey found in the U.S. alone! How many have you tried? Today we’re sampling multiple honey varietals, including #Alfalfa, #Buckwheat, #Tupelo, and #Apple Blossom. #HoneyBakingSummitpic.twitter.com/kJZJsgd8Ll – at JWU Harborside Campus</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-04 14:23:03</td>
              </tr>
              <tr>
              <td>Good morning, Providence! We’re so excited to be back for another #HoneyBakingSummit . Thank you, @johnsonandwales for hosting us and sharing your passion and knowledge!pic.twitter.com/dp3gnMTJ2r – at JWU Harborside Campus</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-04 12:35:42</td>
              </tr>
              <tr>
              <td>With so many ways to be prepared and enjoyed, it&#39;s no wonder eggs have always been a breakfast staple. We&#39;re celebrating #NationalEggDay with our Bacon, Avocado &amp; Egg Breakfast Pizza - get the recipe here: https://buff.ly/2RoxoAA pic.twitter.com/X6eeMHnya5</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-03 15:35:01</td>
              </tr>
              <tr>
              <td>#Summer is right around the corner and its warm weather is made for #honeybeers! So grab your koozie and your lawn chair as we share some of our favorite summer sippers that use #honey to provide a crisp, light finish with a hint of sweetness. https://buff.ly/2VYQjYF pic.twitter.com/MDPPBMVdUO</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-06-01 18:35:01</td>
              </tr>
              <tr>
              <td>The weather&#39;s heating up which has us dreaming about crisp, cool and refreshing salad lunches like our Southwest Salmon &amp; Black Bean Salad with Honey Cilantro Lime Dressing. More than just flavorful, this salad is power-packed to fuel the rest of your day! https://buff.ly/2W17Ryg pic.twitter.com/XyCInaMzRq</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-05-30 18:30:14</td>
              </tr>
              <tr>
              <td>#TuesdayTip: Honey will not expire if properly stored due to its water content and acidity. Store honey at room temperature (not refrigerated) in a cool, dry place, away from direct sunlight. Get more storage &amp; cooking with honey tips here: https://buff.ly/2H3bcFz pic.twitter.com/cKcwh9EnRw</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-05-28 18:08:02</td>
              </tr>
              <tr>
              <td>Wishing everyone a safe and happy #MemorialDay. May we all take some time today to reflect on the sacrifices made by those who didn’t make it home. pic.twitter.com/7Po8JaqOfj</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-05-27 16:35:22</td>
              </tr>
              <tr>
              <td>The weather is heating up and you know what that means - it&#39;s time to pull that cover off the grill and fire it up! We&#39;re kicking off the grilling season with our sweet &amp; savory Honey Pecan Baby Back Ribs - they&#39;re sure to be a hit at your next cookout. https://buff.ly/304Srwd pic.twitter.com/3ndxpWcD5h</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-05-26 19:15:05</td>
              </tr>
              <tr>
              <td>Whether you&#39;re making it for a crowd or a party of two, our Vineyard Pitcher Punch is the perfect way to relax and enjoy the long #weekend! https://buff.ly/2LQiJPW pic.twitter.com/FKUttHMnGf</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-05-25 17:15:02</td>
              </tr>
              <tr>
              <td>(2/2) Learn more about the presidential history of honey bees and about the &quot;Bees that Saved America&quot; here: https://buff.ly/2EgPCPr pic.twitter.com/BApCoL0Cq9</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-05-24 20:37:01</td>
              </tr>
              <tr>
              <td>(1/2) This week&#39;s #ThursdayTrivia was a trick question! Both fans of gardening, &amp; understanding the pollination performed by honey bees, Presidents George Washington &amp; Thomas Jefferson both kept bees on their estates. #FunFactFridayhttps://twitter.com/NationalHoney/status/1131634020775735297 …</td>
              <td>National Honey Board (@NationalHoney) | Twitter</td>
              <td>2019-05-24 20:36:00</td>
              </tr>
              <tr>
              <td>I&#39;m looking for a full-time beekeeper interested in partnering and running http://beekeeping.cc , @beekeeping, etc. Serious inquiries only. Please contact me.</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-05-28 14:15:08</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=7b78c850-8c7b-11e9-8f2d-002590a5ba2d … Thanks to @Puffles2010 @MeredithMaySF #palaciodeliria #dystopian</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-11 19:02:43</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=4fdc7bc0-8bb2-11e9-8f2d-002590a5ba2d … Thanks to @melbaroudi @Chlumani #travel #london</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-10 19:02:40</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=245dc950-8ae9-11e9-8f2d-002590a5ba2d … Thanks to @greekcynic @StormieMills #startup #mosaico</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-09 19:02:36</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=fc33c020-8a1f-11e9-8f2d-002590a5ba2d … Thanks to @apimondia @alisonurbanbees @cameo #photography #chernobyl</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-08 19:02:42</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=cfc24940-8956-11e9-8f2d-002590a5ba2d … Thanks to @Toxic_Planet_ @Chlumani @dolceamori #food #future</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-07 19:02:39</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=ab5f8140-888d-11e9-8f2d-002590a5ba2d … Thanks to @burhanozkoren @malagabaldi @Puffles2010 #bees #thursdaythoughts</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-06 19:02:48</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=7b2cbca0-87c4-11e9-8f2d-002590a5ba2d … Thanks to @hilltop_honey @UFhoneybeelab @AAPremlall #beekeeping #bees</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-05 19:02:38</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=5259a230-86fb-11e9-8f2d-002590a5ba2d … #bees #blockchain</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-04 19:02:40</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=26d2b260-8632-11e9-8f2d-002590a5ba2d … Thanks to @smallfarmnation @Smallholder @VegOs #bees #photos</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-03 19:02:40</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=0536f9a0-8569-11e9-8f2d-002590a5ba2d … Thanks to @dolceamori @Frauenfelder #photography #ai</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-02 19:02:55</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=d346cd90-849f-11e9-8f2d-002590a5ba2d … Thanks to @ProjectBeesCom @Glo_man @Brownloather #photography #climatechange</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-06-01 19:02:42</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=a8ce1970-83d6-11e9-8f2d-002590a5ba2d … Thanks to @dolceamori @fergalo68 @UBCTeacherEd #honey #recipe</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-05-31 19:02:43</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=7e2de020-830d-11e9-8f2d-002590a5ba2d … Thanks to @honeybeetweets @cameo @Glo_man #honey #recipe</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-05-30 19:02:40</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=65af11f0-8244-11e9-8f2d-002590a5ba2d … Thanks to @BisForBeekeeper @hazelmcbasil @tottielimejuice #bees #beekeeping</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-05-29 19:03:12</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=3f658890-817b-11e9-8f2d-002590a5ba2d … Thanks to @justingsouter @gemswinc @BeesintheCity #honey #recipe</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-05-28 19:03:17</td>
              </tr>
              <tr>
              <td>Also please check out our friends @freehugswork and https://freehugs.work . Great people doing great work.</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-05-28 14:17:23</td>
              </tr>
              <tr>
              <td>I&#39;m prefer that you email me at webmaster@beekeeping.cc</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-05-28 14:15:52</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=fdf242f0-80b1-11e9-8f2d-002590a5ba2d … Thanks to @knowyourbees @bugdreams #memorialday #travel</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-05-27 19:02:39</td>
              </tr>
              <tr>
              <td>The latest The beekeeping Daily! https://paper.li/beekeeping?edition_id=d47776d0-7fe8-11e9-8f2d-002590a5ba2d … Thanks to @Brownloather #photography #glyphosate</td>
              <td>beekeeping (@beekeeping) | Twitter</td>
              <td>2019-05-26 19:02:40</td>
              </tr>
              <tr>
              <td>The Self-Grooming Behavior of Honey Bees Can Be Affected by Pesticides.<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-the-self-grooming-behavior-of-honey-bees-can-be-affected-by-pesticides/ … https://www.beeculture.com/catch-the-buzz-the-self-grooming-behavior-of-honey-bees-can-be-affected-by-pesticides/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-30 17:16:13</td>
              </tr>
              <tr>
              <td>Travel to France with the KIM&amp;Jim Show! Visit Veto-pharma, with KIM&amp;JIM and the Veto-pharma bee crew. Jim is live in Paris for this exclusive interview and tour. Visit the factory where Apivar is produced, check out... https://attendee.gotowebinar.com/register/96886064582226187 …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-30 14:24:52</td>
              </tr>
              <tr>
              <td>North Dakota Department of Agriculture 2019 Call for Research Proposals. <br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-pretty-straight-forward-nd-wants-to-fund-research-heres-how-you-find-out-more/ … https://www.beeculture.com/catch-the-buzz-pretty-straight-forward-nd-wants-to-fund-research-heres-how-you-find-out-more/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-29 18:55:02</td>
              </tr>
              <tr>
              <td>Take the BIP Colony Loss Survey this Week. Time is Running Out!<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-take-the-bip-colony-loss-survey-this-week-time-is-running-out/ … https://www.beeculture.com/catch-the-buzz-take-the-bip-colony-loss-survey-this-week-time-is-running-out/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-29 15:18:03</td>
              </tr>
              <tr>
              <td>Honey Integrity Task Force Finds No Adulteration in US Retail Test.<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-work-being-done-by-the-industry-to-ensure-honeys-purity-will-continue/ … https://www.beeculture.com/catch-the-buzz-work-being-done-by-the-industry-to-ensure-honeys-purity-will-continue/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-26 15:39:58</td>
              </tr>
              <tr>
              <td>Male and Female Bees Have Different Reactions to Pesticide Exposure.<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-male-and-female-bees-have-different-reactions-to-pesticide-exposure/ … https://www.beeculture.com/catch-the-buzz-male-and-female-bees-have-different-reactions-to-pesticide-exposure/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-24 17:04:24</td>
              </tr>
              <tr>
              <td>Vending Machine at Jacksonville’s Avenues Mall Dispenses Honey. <br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-vending-machine-at-jacksonvilles-avenues-mall-dispenses-honey/ … https://www.beeculture.com/catch-the-buzz-vending-machine-at-jacksonvilles-avenues-mall-dispenses-honey/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-23 17:35:36</td>
              </tr>
              <tr>
              <td>Young Harris Beekeeping Institute Coming In May. Don’t Miss It!<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-young-harris-beekeeping-institute-coming-in-may-dont-miss-it/ … https://www.beeculture.com/catch-the-buzz-young-harris-beekeeping-institute-coming-in-may-dont-miss-it/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-18 17:48:48</td>
              </tr>
              <tr>
              <td>Sentinel Apiary Program, NOW IS THE TIME TO SIGN UP!<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-sentinel-apiary-program-find-out-how-you-are-doing-and-how-everybody-else-is-doing-its-the-wave-of-the-future-sign-up-today/ … https://www.beeculture.com/catch-the-buzz-sentinel-apiary-program-find-out-how-you-are-doing-and-how-everybody-else-is-doing-its-the-wave-of-the-future-sign-up-today/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-17 17:14:00</td>
              </tr>
              <tr>
              <td>Propolis Power-Up: How Beekeepers Encourage Resin Deposits for Better Hive Health.<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-propolis-power-up-how-beekeepers-can-encourage-resin-deposits-for-better-hive-health/ … https://www.beeculture.com/catch-the-buzz-propolis-power-up-how-beekeepers-can-encourage-resin-deposits-for-better-hive-health/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-16 17:08:45</td>
              </tr>
              <tr>
              <td>Kim and I will be there representing Bee Culture. https://www.facebook.com/story.php?story_fbid=2098747040252006&amp;id=106835316109865 …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-16 00:46:18</td>
              </tr>
              <tr>
              <td>Agricultural Census Shows Ag of the Middle Continues to Shrink.<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-agricultural-census-shows-ag-of-the-middle-continues-to-shrink/ … https://www.beeculture.com/catch-the-buzz-agricultural-census-shows-ag-of-the-middle-continues-to-shrink/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-15 17:26:40</td>
              </tr>
              <tr>
              <td>Citrus Greening has Florida Growers Down to the Hard Core, Senate Panel Told.<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-citrus-greening-has-florida-citrus-crop-down-86-this-year/ … https://www.beeculture.com/catch-the-buzz-citrus-greening-has-florida-citrus-crop-down-86-this-year/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-12 12:57:55</td>
              </tr>
              <tr>
              <td>Manuka Plant Samples from 1769 Still High Quality and Easy to ID.<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-manuka-plant-samples-from-1769-still-high-quality-and-easy-to-id/ … https://www.beeculture.com/catch-the-buzz-manuka-plant-samples-from-1769-still-high-quality-and-easy-to-id/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-09 18:54:44</td>
              </tr>
              <tr>
              <td>Orchards Fare Best When They Have a Diverse Community of Bees Flying in from Natural Habitats.<br/><br/>Read more here........ https://www.beeculture.com/catch-the-buzz-a-key-observation-was-that-orchards-fare-best-when-they-have-a-diverse-community-of-bees-flying-in-from-natural-habitats/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-08 17:25:59</td>
              </tr>
              <tr>
              <td>Bee Removal To Be Illegal In Texas.<br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-bee-removal-to-be-illegal-in-texas/ … https://www.beeculture.com/catch-the-buzz-bee-removal-to-be-illegal-in-texas/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-05 14:34:11</td>
              </tr>
              <tr>
              <td>Penn State Program Enables Beekeepers to Locate Better Beeyards.<br/><br/>Read more here........ https://www.beeculture.com/catch-the-buzz-beescape-org-allows-users-to-select-a-specific-location-and-obtain-landscape-quality-scores-for-the-surrounding-region-up-to-5-kilometers-away/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-03 17:23:12</td>
              </tr>
              <tr>
              <td>Join us on October 11th - 13th to Celebrate 150 Years of the A.I. Root Company and American Beekeeping History.<br/><br/>Registration opens May 1st.pic.twitter.com/c3SZLUPdNI</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-02 17:19:57</td>
              </tr>
              <tr>
              <td>Road Trip: How Hive Transportation Puts Stress on Honey Bees. <br/><br/>Read more here.....<br/>https://www.beeculture.com/catch-the-buzz-road-trip-how-hive-transportation-puts-stress-on-honey-bees/ … https://www.beeculture.com/catch-the-buzz-road-trip-how-hive-transportation-puts-stress-on-honey-bees/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-02 17:12:55</td>
              </tr>
              <tr>
              <td>Honey bees are in high demand for pollinating crops, w/ hives often trucked thousands of miles a year to serve crops in different regions and seasons. But researchers at @USDA_ARS and @NDSU say honey bees show signs of stress from all that travel.https://entomologytoday.org/2019/04/01/road-trip-hive-transportation-stress-honey-bees/ …</td>
              <td>Bee Culture Magazine (@BeeCulture) | Twitter</td>
              <td>2019-04-01 17:04:01</td>
              </tr>
              </tbody></table>
          </div>
        

        </div>
      </div>
    </div>

</body>

<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://static.codepen.io/assets/editor/live/css_reload-5619dc0905a68b2e6298901de54f73cefe4e079f65a75406858d92924b4938bf.js"></script>
<script type = "text/javascript" src = "../static/js/jordy_js.js"></script>

</html>
